<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.synapticweb.passman">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="net.synapticweb.passman.CryptoPassApp">

        <activity android:name="net.synapticweb.passman.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".service.CPAutofillService"
            android:label="@string/autofill_service_label"
            android:permission="android.permission.BIND_AUTOFILL_SERVICE">
        <intent-filter>
            <action android:name="android.service.autofill.AutofillService" />
        </intent-filter>

        </service>

    </application>

</manifest>